<div class="customBackground">
    <header>
        <div class="row d-flex align-content-center mx-2">
            <div class="col d-flex justify-content-start">
                <figure>
                    <img src="assets/img/logo.png" alt="logo" />
                </figure>
            </div>
            <div class="col d-flex justify-content-center mt-3">
                <p *ngIf="isAdmin" (click)="onUserClick()">{{ 'HEADER.USERS' | translate}}</p>
                <p (click)="onParkingClick()">{{ 'HEADER.PARKINGS' | translate}}</p>
                <p (click)="onStatisticsClick()">{{ 'HEADER.STATISTICS' | translate}}</p>
                <p (click)="onProfileClick()">{{ 'HEADER.ACCOUNT' | translate}}</p>
            </div>
            <div class="col d-flex justify-content-end mt-3">
                <p (click)="translate.use('uk')">Uk</p>
                <p>|</p>
                <p (click)="translate.use('en')">En</p>
            </div>
        </div>
    </header>
</div> 