<div class="customBackground">
    <header>
        <div class="row d-flex align-content-center mx-2">
            <div class="col d-flex justify-content-start">
                <figure>
                    <img src="assets/img/logo.png" alt="logo" />
                </figure>
            </div>
            <div class="col d-flex justify-content-center mt-3">
                <p (click)="onParkingClick()">Parkings</p>
                <p>Statistics</p>
                <p (click)="onProfileClick()">Account</p>
            </div>
            <div class="col d-flex justify-content-end"></div>
        </div>
    </header>
</div> 