.customBackground{
    background-image: url('./pictures/navbar.svg#svgView(preserveAspectRatio(none)');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

p {
    margin-right: 5%;
    font-size: 36px;
    font-weight: 350;
    cursor: pointer;
}