.lead{
    margin:  30px;

}

.title {
    padding-top: 12%;
    font-family: Cairo;
    font-size: 10.5rem;
    font-weight: 300;
}

.loginButton {
    background-color: #A8DADC;
    border: none;
    border-radius: 15px;
    width: 180.23px;
    height: 57px;
    margin-right: 2.5%;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  
  .registerButton {
    background-color: #FA7881;
    border: none;
    border-radius: 15px;
    width: 180.23px;
    height: 57px;
    margin-left: 2.5%;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
