<link 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
<div style="text-align:center;">
    <h1 class="title">UniversalParking</h1>
    <h1 class="display-3">Parking Assistant</h1>

    <p class="lead">
        <button class="loginButton mr-5" (click)="onLoginClick()">Login</button>
        <button class="registerButton" (click)="onRegisterClick()">Register</button>
    </p>
    <img src ="assets/img/car_new.png"><img/>
</div>



    