<app-header></app-header>
<div class="row">
    <p class="title">{{ 'ACCOUNT.TITLE' | translate}}</p>
</div>
<div class="wrapper pb-4">
    <form [formGroup]="form">
        <div class="field">
            <p>{{ 'ACCOUNT.USERNAME' | translate}}</p>
            <input type="text" formControlName="Username">
        </div>
        <div class="field">
            <p>{{ 'ACCOUNT.EMAIL' | translate}}</p>
            <input type="text" formControlName="Email">
        </div>
        <div class="field">
            <p>{{ 'ACCOUNT.PASSWORD' | translate}}</p>
            <input type="password" formControlName="Password">
        </div>
        <div class="row justify-content-between">
            <button class="apply" (click)="onChangeProfileDataClick()">{{ 'BUTTON.CHANGE' | translate}}</button>
            <button class="logOut" (click)="onLogOut()">{{ 'BUTTON.LOGOUT' | translate}}</button>
        </div>
    </form>
</div>

<!-- Notification Modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-centred modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLongTitle">{{ 'NOTIFICATION.TITLE' | translate}}</h5>
                <button class="closeButtonTimes" data-bs-dismiss="modal" aria-label="Close">
                    <fa-icon class="closeFaTimes" [icon]="faTimes"></fa-icon>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                {{notification}}
            </div>
        </div>
    </div>
</div>